.navbar {
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;

  .logo {
    display: flex;
    align-items: center;
    gap: 16px;
    color: hsl(var(--foreground));
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    .image {
    }

    .name {
      font-size: 20px;
      letter-spacing: -0.15px;
      font-weight: 600;

      font-family:
        var(--font-geist-mono), var(--font-geist-sans), system-ui, sans-serif;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 16px;
    .link {
      text-decoration: none;
      color: hsl(var(--foreground));
      padding: 8px 16px;

      &:hover {
        color: hsl(var(--link-color));
        text-decoration: underline;
      }
    }
  }
}
