// src/components/JetBrainsPluginButton/JetBrainsPluginButton.module.scss
.defaultButton {
  padding: 8px 16px;
  background: hsl(var(--accent-8));
  color: hsl(var(--white));
  text-decoration: none;
  border-radius: 8px;
  white-space: nowrap;
  transition: background-color 0.2s ease;
  border: 1px solid transparent;

  &:hover {
    background: hsl(var(--accent-9) / 0.85);
    border-color: hsl(var(--accent-9));
  }
}

.buttonContainer {
  display: inline-block;

  .ideButton {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    font-size: 15px;
    line-height: 1.6;
    color: hsl(var(--prima));
    background: hsl(var(--black));

    border-radius: 9999px;
    box-shadow: 0 0 0 1px hsl(var(--foreground));

    position: relative;
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: url("/static/jetbrains/button-install.png") no-repeat;
      background-size: contain;
      z-index: 0;
      opacity: 0.25;
    }

    cursor: pointer;
    transition: background-color 0.2s ease;
    user-select: none;
    font-family:
      var(--font-geist-sans),
      var(--font-dm-sans),
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto;
    -moz-outline-radius: 999px;

    .ideText {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: hsl(var(--white));
      text-decoration: none;
      font-weight: 400;
      -moz-outline-radius: 999px;
      z-index: 10;
    }

    /*    &.sm {
      height: 50px;
      font-size: 15px;
      font-weight: 400;
      border: 1px solid hsl(var(--foreground));
      border-radius: 999px;
      position: relative;
      z-index: 1;
      overflow: hidden;

      &::after {
        position: absolute;
        content: "";
        inset: 0;
        background: hsl(var(--background));
        z-index: -1;
        opacity: 0.5;
      }
    }*/

    &.md {
      height: 40px;
      font-size: 15px;
      line-height: 1.6;
    }
  }
}
