// src/components/JetBrainsPluginButton/JetBrainsPluginButton.module.scss
.buttonContainer {
  display: inline-block;

  .ideButton {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    font-size: 15px !important;
    line-height: 1.6;
    color: hsl(var(--white)) !important;
    background: hsl(var(--black)) url("/static/jetbrains/button-install.png")
      no-repeat;
    background-size: contain;
    border-radius: var(--radius);
    box-shadow: 0 1px 2px 0 hsla(var(--black), 0.25);
    cursor: pointer;
    transition: background-color 0.2s ease;
    user-select: none;
    font-family:
      "JetBrains Sans",
      Inter,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Droid Sans",
      "Helvetica Neue",
      Arial,
      sans-serif;

    .ideText {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: hsl(var(--white)) !important;
      text-decoration: none;
      font-weight: 400;
    }
  }
}
