.hero {
  background-color: hsl(var(--card));
  position: relative;

  .heroContent {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    margin: 0 auto;
    overflow: visible;
    gap: 3rem;

    .heroHeader {
      display: inline-flex;
      width: fit-content;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;

      .title {
        font-size: 4rem;
        letter-spacing: -3px;
        line-height: 1;
        font-family: var(--font-geist-sans);
        font-weight: 900;
        margin: 0;
        text-wrap: balance;
        width: 450px;

        /* Vibrant gradient background */
        background: linear-gradient(
          135deg,
          #fa1173 0%,
          #fd7831 15%,
          #ffd00b 30%,
          #3ccc62 45%,
          #298fff 60%,
          #571dee 75%,
          #fa1173 100%
        );

        background: linear-gradient(
          135deg,
          #fa1173 0%,
          #298fff 30%,
          #571dee 60%,
          #fd7831 100%
        );
        background-size: 150% 200%;

        /* Apply gradient to text */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;

        /* Smooth animation for extra flair */
        //background-size: 200% 200%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .hero {
    margin-top: 64px;
    .heroContent {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 32px;

      .downloadArea {
        justify-content: center;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    .heroContent {
      flex-direction: column;
      gap: 2rem;
      text-align: center;
      align-items: center;

      .heroHeader {
        align-items: center;
      }
    }
  }
}
