.hero {
  background-color: hsl(var(--card));
  position: relative;

  .heroContent {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    margin: 0 auto;
    overflow: visible;
    gap: 3rem;

    .heroHeader {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .badgeVersion {
        color: hsl(var(--foreground));
      }

      .heroHeaderMain {
        display: inline-flex;
        width: fit-content;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        position: relative;

        .title {
          font-size: 4.5rem;
          letter-spacing: -3px;
          line-height: 1;
          font-weight: 900;
          font-family: var(--font-geist-sans), serif;
          margin: 0;

          position: relative;
          overflow: visible;
          z-index: 0;
        }

        .titleBackground {
          position: absolute;
          z-index: -1;
          pointer-events: none;
          &::after {
            pointer-events: none;
            content: "";
            position: absolute;
            inset: 0;
            top: -250px;
            left: -250px;
            width: 750px;
            height: 750px;
            background: radial-gradient(
              circle at 50% 50%,
              #6e28f5 0%,
              transparent 65%
            );
            z-index: -20;
            opacity: 0.3;
            transform: scaleY(1.4) scaleX(3);
          }
          &::before {
            pointer-events: none;
            content: "";
            position: absolute;
            inset: 0;
            top: -100px;
            left: 100px;
            width: 800px;
            height: 450px;
            background: radial-gradient(
              ellipse at 50% 0%,
              #2dc77f 0%,
              transparent 55%
            );
            z-index: -10;
            opacity: 0.25;
            transform: rotate(25deg) scaleY(2.5) scaleX(1.25);
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .hero {
    margin-top: 64px;
    .heroContent {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 32px;

      .downloadArea {
        justify-content: center;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    .heroContent {
      flex-direction: column;
      gap: 2rem;
      text-align: center;
      align-items: center;

      .heroHeader {
        align-items: center;
      }
    }
  }
}
