.previewWrapper {
  perspective: 1200px;
  perspective-origin: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 32px;
  margin: unset;
  position: relative;
  overflow: visible;
}

/* all images share this */
.preview {
  width: 100%;
  max-width: 800px;
  border: 1px solid #391fbd;
  border-radius: 12px;
  transform: rotateX(25deg) rotateY(-15deg) rotateZ(5deg);
  transition:
    opacity 0.8s ease,
    transform 350ms cubic-bezier(0.25, 0.8, 0.25, 1);
  will-change: transform, opacity;
  position: absolute; // NEW: stack images on top of each other
  top: 0;
  left: 0;
  opacity: 0; // start hidden
}

.active {
  opacity: 1;
  z-index: 2;
}

.inactive {
  opacity: 0;
  z-index: 1;
}
